<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Just Eat Fast
    </super-navbar-title>
  </super-navbar>

  <div class="row responsive-sm">
    <div class="col">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="error" ng-show="restaurant-form.postcode.$error.pattern">Not a valid postcode</span>
          <i class="icon super-location placeholder-icon"></i>
          <input type="text" ng-model="postcode" name="postcode" placeholder="Postcode" required pattern="^(GIR 0AA)|(((A[BL]|B[ABDHLNRSTX]?|C[ABFHMORTVW]|D[ADEGHLNTY]|E[HNX]?|F[KY]|G[LUY]?|H[ADGPRSUX]|I[GMPV]|JE|K[ATWY]|L[ADELNSU]?|M[EKL]?|N[EGNPRW]?|O[LX]|P[AEHLOR]|R[GHM]|S[AEGKLMNOPRSTY]?|T[ADFNQRSW]|UB|W[ADFNRSV]|YO|ZE)[1-9]?[0-9]|((E|N|NW|SE|SW|W)1|EC[1-4]|WC[12])[A-HJKMNPR-Y]|(SW|W)([2-9]|[1-9][0-9])|EC[1-9][0-9])( [0-9][ABD-HJLNP-UW-Z]{2})?)$">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon placeholder-icon">&pound;</i>
          <input type="number" ng-model="price" name="price" placeholder="Maximum">
        </label>
      </div>
      <super-navigate ng-attr-location="app/example/learn-more.html?postcode={{postcode}}&amp;price={{price}}">
        <button class="button button-block button-assertive">Find takeaways</button>
      </super-navigate>
      </div>
    </div>
</div>
