<div class="padding" ng-controller="LearnMoreController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  Max price: &pound;{{ MaxPrice}}
  <ul ng-repeat="restaurant in restaurants">
    <li><img ng-src="{{restaurant.Logo[0].StandardResolutionURL}}" class="img-circle"></li>
    <li>{{restaurant.Name}} {{ restaurant.RatingStars}}</li>
    <li>
      <ul ng-repeat="cuisineType in restaurant.CuisineTypes">
        <li> - {{cuisineType.Name}}</li>
      </ul>
    </li>
    <li>{{restaurant.Meal.Starter.name}} {{restaurant.Meal.Starter.price}}</li>
    <li>{{restaurant.Meal.Main.name}} {{restaurant.Meal.Main.price}}</li>
    <li>{{restaurant.Meal.Drink.name}} {{restaurant.Meal.Drink.price}}</li>
  </ul>
</div>
