<div class="padding" ng-controller="SearchController">
  <super-navbar>
    <super-navbar-title ng-bind-template="{{Postcode | uppercase}}">
    </super-navbar-title>
  </super-navbar>

  <div class="list">
    <div class="item">{{NumberOfTakeawaysFound}} takeaways found</div>
    <div ng-repeat="restaurant in Restaurants">
      <div class="item item-thumbnail-left">
        <img ng-src="{{restaurant.Logo[0].StandardResolutionURL}}">
        <h2>{{restaurant.Name}}</h2>
        <p>
          <ul ng-repeat="cuisineType in restaurant.CuisineTypes">
            <li>{{cuisineType.Name}}</li>
          </ul>
        </p>
        <p>{{ restaurant.RatingStars}} <i class="icon super-star"></i> ({{restaurant.NumberOfRatings}})</p>
      </div>
    </div>
  </div>
</div>
