<div ng-controller="FastSearchController">
  <div class="padding">
    <super-navbar>
      <super-navbar-title ng-bind-template="{{Postcode | uppercase}} &pound;{{MaxPrice}}"></super-navbar-title>
    </super-navbar>
    <!-- put cuisine soewhere -->
    <div ng-swipe-left="NextMeal()"
         ng-swipe-right="MealSelected = true">
      <div class="list-card"
           ng-show="AreRestaurantsAvailable && !MealSelected">
        <div class="item item-avatar">
          <img ng-src="{{Restaurants[MealIndex].Logo[0].StandardResolutionURL}}">
          <h2>{{Restaurants[MealIndex].Name}}</h2>
          <p>{{Restaurants[MealIndex].RatingStars}}&nbsp;<span class="icon super-star"></span>&nbsp;({{Restaurants[MealIndex].NumberOfRatings}})
        </div>
        <div class="item item-body">
          <div class="item item-icon-left">
            {{Restaurants[MealIndex].Meal.Starter.name}}
            <span class="badge badge-energized">&pound;{{Restaurants[MealIndex].Meal.Starter.price}}</span>
          </div>
          <div class="item item-icon-left">
            {{Restaurants[MealIndex].Meal.Main.name}}
            <span class="badge badge-energized">&pound;{{Restaurants[MealIndex].Meal.Main.price}}</span>
          </div>
          <div class="item item-icon-left">
            {{Restaurants[MealIndex].Meal.Drink.name}}
            <span class="badge badge-energized">&pound;{{Restaurants[MealIndex].Meal.Drink.price}}</span>
          </div>
          <div class="item item-icon-left">
            <b>Total</b>
            <span class="badge badge-balanced">&pound;{{Restaurants[MealIndex].Meal.Total}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
            <a class="super-close item-icon-left decline-icon"
               ng-click="NextMeal()"></a>
          </div>
          <div class="col col-25">
            <a class="super-checkmark item-icon-right pull-right accept-icon"
               ng-click="MealSelected = true"></a>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="MealSelected">
      Good choice. Purchase screen here...
    </div>

    <div ng-show="!AreRestaurantsAvailable">
      There are no more meals in this price range.
    </div>
  </div>
</div>
